html {
    background: rgb(0, 0, 0);
    height: 100%;
    /* WARNING: THIS PREVENTS SCOLLING! */
    /* overflow: hidden; */

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/fab.png');
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100%; */
    overflow: auto;
}


body {
    color: rgb(82, 255, 160);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

/* h1 {
    margin: 0;
    padding: 0;
    font-size: 10vw;
    font-weight: 400;
    padding: 20px;
} */

h1 {
    margin: 0;
    padding: 20px;
    font-size: 10vw;
    /* Adjust this value to change the initial font size */
    font-weight: 400;
    white-space: nowrap;
    /* Prevent the text from wrapping */
    max-width: 100%;
    /* Ensure that the text doesn't overflow the container horizontally */
}

#songRequestForm {
    margin-bottom: 20px;
}

.song-item {
    margin-bottom: 10px;
}

#tableContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#songRequestTable {
    border-collapse: collapse;
    margin-top: 20px;
    width: 90%;
    /* Adjust this value to change the table width */
}

#songRequestTable th,
#songRequestTable td {
    border: 1px solid rgb(255, 84, 121);
    padding: 8px;
    text-align: center;
}

#songRequestTable th {
    background-color: rgb(195, 127, 0);
    color: black;
}

#songTitle {
    width: 80%;
    /* Adjust this value to change the input width */
}

#tipAmount {
    width: 10rem;
}

.payButton {
    height: 100px;

    /* Center the text horizontally and vertically */
    /* display: flex; */
    justify-content: center;
    align-items: center;

    /* Optional: Add some basic styling for the button text */
    font-size: 22px;
    font-weight: bold;
}

#payWithCashApp {
    /* width: 10rem; */
    color: rgb(222, 237, 0);
    background-color: rgb(2, 87, 19);
    border: 2px solid rgb(0, 255, 42);
}


#payWithVenmo {
    /* width: 10rem; */
    color: rgb(1, 1, 32);
    background-color: rgb(5, 69, 164);
    border: 2px solid rgb(24, 234, 249);
}